.project {
    padding: 20px;
    margin-top: 90px;
}

.project .continer h4 {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
}

.project .continer h4::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 3px;
    background-color: green;
    bottom: 0px;
    left: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

img {
    height: 300px;
}

.cards {
    gap: 10px;
}